.container {
  width: 100%;
  height: 100vh;
}

.header {
  height: 50px;
  background-color: rgb(233, 232, 232);
}

.message {
  height: calc(100% - 140px);
  /* height: 450px; */
}

.inputContainer {
  height: 55px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: rgb(233, 232, 232);
}
