.container {
  padding-left: 15px;
  padding-right: 15px;

  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 290px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}

@media screen and (min-width: 1080px) {
  .container {
    width: 1050px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1250px;
  }
}
