.container {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 80px;
  background-color: rgb(233, 232, 232);
  padding: 10px;
  border-right: 0.5px solid rgb(230, 227, 227);
  border-bottom: 0.5px solid rgb(230, 227, 227);
}

.icon {
  width: 30px;
  height: 30px;
  margin-bottom: auto;
}
