.container {
  width: 100vw;
  height: calc(100vh - 120px);
  padding: 15px 10px 0px;
}

.header {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.contacts {
  display: flex;
  flex-direction: column;
}
.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 55px;
  cursor: pointer;
  border-bottom: 0.5px solid rgb(230, 227, 227);

  margin-top: 10px;
}

.avatarBlock {
  display: flex;
  align-items: center;
}
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.username {
  font-size: 14px;
  font-weight: 500;
}

.block {
  display: flex;
}

.date {
  font-size: 12px;
  font-weight: 400;
}

.message {
  font-size: 11px;
  font-weight: 400;
  width: 50vw;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.textBlock {
  margin-left: 10px;
}

@media screen and (min-width: 320px) {
}

@media screen and (min-width: 768px) {
  .container {
    width: 300px;
    border-right: 0.5px solid rgb(230, 227, 227);
  }

  .header {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .username {
    font-size: 16px;
  }

  .date {
    font-size: 14px;
  }

  .message {
    font-size: 12px;
    width: 140px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 350px;
  }
  .header {
    font-size: 24px;
  }
  .message {
    width: 200px;
  }
}
