.messageOwn {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  align-items: flex-end;
}

.message {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.messageTop {
  display: flex;
}

.messageImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.messageText {
  padding: 10px;
  border-radius: 20px;
  background-color: #0a213f;
  color: white;
  max-width: 100px;
}

.messageTime {
  font-size: 11px;
  margin-top: 8px;
  margin-left: 10px;
}

.messageTimeOwn {
  font-size: 11px;
  margin-top: 8px;
  margin-right: 10px;
}

.messageOwn {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  align-items: flex-end;
}

.messageOwn .messageText {
  background-color: rgb(245, 241, 241);
  color: black;
}

@media screen and (max-width: 767px) {
  .messageText {
    max-width: 80vw;
  }
}

@media screen and (min-width: 768px) {
  .message {
    margin-top: 20px;
  }

  .messageText {
    max-width: 230px;
  }

  .messageTime {
    font-size: 12px;
    margin-top: 10px;
  }

  .messageTimeOwn {
    font-size: 12px;
    margin-top: 10px;
  }

  .messageOwn {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .messageText {
    max-width: 350px;
  }
}
